extends ../layout

block content 
    .row
        .col-sm-5
            form(method="POST", action="/user/signup")
                .modal-body
                    .form-group
                        label(for="signinName") 用户名 
                        input#signinName.form-control(name="user[name]", type="text")
                    .form-group
                        label(for="signinPassword") 密码 
                        input#signinPassword.form-control(name="user[password]", type="text")
                .modal-footer
                    button.btn.btn-success(type="submit") 注册



